/* General rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
}
img {
  max-width: 100%;
}
a {
  text-decoration: none;
  color: #fff;
}
ul {
  list-style: none;
}

/* Typography */
.nav__list {
  list-style: none;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  font-size: 1.125rem;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Oswald", sans-serif;
  font-size: 5.625rem;
  color: #fff;
}
.hero p {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  color: #fff;
}
.hero a {
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
}
h3 {
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  font-size: 1.875;
  color: #a59678;
}
.before-Primary p,
.sidebar p {
  font-family: "Montserrat", sans-serif;
  font-size: 1.125rem;
}

.primary-content h2 {
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  font-size: 2.25rem;
  color: #a59678;
}
.primary-content p {
  font-family: "Montserrat", sans-serif;
  font-size: 1.125rem;
}
.sidebar p,
.sidebar h3 {
  color: #fff;
}
footer h2 {
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  color: #fff;
}
footer h5 {
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  font-size: 1.3125rem;
  color: #a59678;
}
footer li,
footer p {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  color: #fff;
}

/* NavBar */
.nav {
  width: 100%;
}
.nav-toggle {
  cursor: pointer;
  border: 0;
  width: 3em;
  height: 3em;
  padding: 0em;
  border-radius: 50%;
  background: #2e323f;
  color: white;
  transition: opacity 250ms ease;

  position: absolute;
  left: 0;
}
.nav-toggle:focus,
.nav-toggle:hover {
  opacity: 0.75;
}
.nav {
  visibility: hidden;
  height: 0;
  position: absolute;
  font-size: 1rem;
}
.nav--visible {
  visibility: visible;
  height: auto;
  position: relative;
}
.nav__item {
  margin-top: 0.5em;
  text-transform: uppercase;
}

.nav__list--primary {
  margin-bottom: 2em;
}
.nav__link--button {
  padding: 0.25em 0.75em;
  background: #a59678;
  border-radius: 2em;
}
.nav__link:hover,
.nav__link:focus {
  opacity: .65;
}

.hamburger {
  width: 50%;
  position: relative;
}
.hamburger,
.hamburger::before,
.hamburger::after {
  display: block;
  margin: 0 auto;
  height: 3px;
  background: white;
}
.hamburger::before,
.hamburger::after {
  content: "";
  width: 100%;
}
.hamburger::before {
  transform: translateY(-6px);
}
.hamburger::after {
  transform: translateY(3px);
}

/* Layout */
span {
  color: #a59678;
}
header {
  background-color: #2e323f;
  color: #fff;
  padding: 1em;
  text-align: center;
}
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}
.hero {
  background-color: #3b4050;
  padding: 1em;
}
.btn {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  background: #a59678;
  padding: 0.25em 1.5em;
  border-radius: 100px;
}
.before-Primary {
  background-color: #f1f1f1;
}
.cart {
  background-color: #3b4050;
  margin: 1em;
  padding: 1em;
  text-align: center;
}
footer {
  background-color: #3b4050;
  padding: 1em;
}

/* Media Queries */

@media (min-width: 700px) {
  .nav {
    visibility: visible;
    display: flex;
    height: auto;
  }
}
